<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vielse</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-list>
    <ion-card *ngFor="let img of images">
      
      <img [src]="img"/>
    </ion-card>
  </ion-list>-->
  <!--<div class="grid">-->
    <!--<ion-card class="grid-item" *ngFor="let item of images">
      <img [src]="item">
    </ion-card>-->
      <!--<ion-card-content>
        <ion-item>
          <ion-avatar item-left>
            <img src="yourimageurl.jpg">
          </ion-avatar>
          <ion-card-title>
            {{item?.title}}
          </ion-card-title>
        </ion-item>
      </ion-card-content>-->
  <!--</div>-->
  <masonry [options]="options">
    <masonry-brick class="brick"  *ngFor="let img of images">
      <!--{{img}}-->
      <img [src]="img" [alt]="img" height="200px" width="200px">
    </masonry-brick>
  </masonry>
</ion-content>
